/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

# macOS Files
.DS_Store

public/assets
public/uploads

storage/app/public/assets/fontawesome/css/.DS_Store
storage/app/public/assets/image/.DS_Store

# composer
composer.lock
